# Importing data and Synchronizing

### testing with sample(part of the original data)

In [3]:
import glob
import pandas as pd

path =r'/home/louis/Desktop/Energy (copy)/' # Path to dataset
allFiles = glob.glob(path + "/*.dat") #Data file name
appliances = ['Kettle', 'Microwave', 'Laptop', 'TV'] #Array of appliances
i = 0 #Counter for appliances array

#Initialize the frame with timestamp (TS) as Index column
frame1 = pd.DataFrame(columns=['TS']) 

#Loop to load dataset into a single frame
for file_ in allFiles:
    df = pd.read_csv(file_,delimiter = ' ', names = ['TS', file_[34:43]])#appliances[i]])
    #df = pd.read_csv(file_,delimiter = ' ', names = ['TS',appliances[i]])
    #frame1 = df.join(df.set_index('TS'), on='TS')
    frame1 = frame1.merge(df, on='TS', how='outer', sort=True) 
    i = i+1
    
#print(frame1['TS'][0])b
#print(len(frame1['TS']))
end = int(frame1['TS'][len(frame1['TS'])-1])
start = int(frame1['TS'][0])
frame1.set_index('TS')
print(frame1)

            TS  channel_1  channel_6  channel_8  channel_5
0   1352500098       10.0        1.0        1.0      100.0
1   1352500104       20.0        2.0        2.0      200.0
2   1352500110       30.0        3.0        3.0        NaN
3   1352500114        NaN        NaN        NaN      300.0
4   1352500116        NaN        4.0        0.0      400.0
5   1352500118       40.0        NaN        NaN        NaN
6   1352500122        0.0        5.0        0.0      500.0
7   1352500128        0.0        6.0        0.0      600.0
8   1352500134        0.0        7.0        0.0        NaN
9   1352500140        NaN        8.0        0.0        NaN
10  1352500142        0.0        NaN        NaN        NaN
11  1352500146       80.0        9.0        9.0        NaN

In [10]:
#Try formalizing freq to 6 but failed
import numpy as np
print("start",start)
print("end",end)
l = [np.int64(i) for i in np.arange(start,end+6,6)]
print(l)

start 1352500098
end 1352500146
[1352500098, 1352500104, 1352500110, 1352500116, 1352500122, 1352500128, 1352500134, 1352500140, 1352500146]

In [11]:
lframe = pd.DataFrame(l, columns=['TS'])
lframe.set_index('TS')
print(lframe)
print(frame1)
#j=0
frame1['TS']=frame1['TS'].astype(int)

#for j in lframe['TS']:
 #   frame1[j]
    #ge(lframe, on='TS', how='outer', sort=True) 
#print(frame1)
#frame1

           TS
0  1352500098
1  1352500104
2  1352500110
3  1352500116
4  1352500122
5  1352500128
6  1352500134
7  1352500140
8  1352500146
            TS  channel_1  channel_6  channel_8  channel_5
0   1352500098       10.0        1.0        1.0      100.0
1   1352500104       20.0        2.0        2.0      200.0
2   1352500110       30.0        3.0        3.0        NaN
3   1352500114        NaN        NaN        NaN      300.0
4   1352500116        NaN        4.0        0.0      400.0
5   1352500118       40.0        NaN        NaN        NaN
6   1352500122        0.0        5.0        0.0      500.0
7   1352500128        0.0        6.0        0.0      600.0
8   1352500134        0.0        7.0        0.0        NaN
9   1352500140        NaN        8.0        0.0        NaN
10  1352500142        0.0        NaN        NaN        NaN
11  1352500146       80.0        9.0        9.0        NaN

### Front-filling

In [45]:
frame1.fillna(method='ffill')

            TS  Kettle  Microwave  Laptop     TV
0   1352500098    10.0        1.0     1.0  100.0
1   1352500104    20.0        2.0     2.0  200.0
2   1352500110    30.0        3.0     3.0  200.0
3   1352500114    30.0        3.0     3.0  300.0
4   1352500116    30.0        4.0     0.0  400.0
5   1352500118    40.0        4.0     0.0  400.0
6   1352500122     0.0        5.0     0.0  500.0
7   1352500128     0.0        6.0     0.0  600.0
8   1352500134     0.0        7.0     0.0  600.0
9   1352500140     0.0        8.0     0.0  600.0
10  1352500142     0.0        8.0     0.0  600.0
11  1352500146    80.0        9.0     9.0  600.0

### Zero-filling

In [46]:
frame1.fillna(0)

            TS  Kettle  Microwave  Laptop     TV
0   1352500098    10.0        1.0     1.0  100.0
1   1352500104    20.0        2.0     2.0  200.0
2   1352500110    30.0        3.0     3.0    0.0
3   1352500114     0.0        0.0     0.0  300.0
4   1352500116     0.0        4.0     0.0  400.0
5   1352500118    40.0        0.0     0.0    0.0
6   1352500122     0.0        5.0     0.0  500.0
7   1352500128     0.0        6.0     0.0  600.0
8   1352500134     0.0        7.0     0.0    0.0
9   1352500140     0.0        8.0     0.0    0.0
10  1352500142     0.0        0.0     0.0    0.0
11  1352500146    80.0        9.0     9.0    0.0

## Actual Data

In [4]:
import glob
import pandas as pd
import time

path =r'/home/louis/Desktop/Energy/' # Path to dataset
allFiles = glob.glob(path + "/*.dat") #Data file name
i = 0 #Counter for appliances array

#Initialize the frame with timestamp (TS) as Index column
dataframe1 = pd.DataFrame(columns=['TS']) 

#Loop to load dataset into a single frame
#Causes my laptop to run of out RAM
for file_ in allFiles:
    start = time.time()

    df = pd.read_csv(file_,delimiter = ' ', names = ['TS', file_[34:43]])
    print("Reading", i, " passed")
    dataframe1 = dataframe1.merge(df, on='TS', how='outer', sort =True) 
    print("Merging", i, " passed")
    
    end = time.time()
    print("Time used: ", end - start)
    
    if i == 2:
        break;
    i = i+1
    
    
print(dataframe1)

Reading 0  passed
Merging 0  passed
Time used:  10.251963376998901
Reading 1  passed
Merging 1  passed
Time used:  13.800956964492798
Reading 2  passed
Merging 2  passed
Time used:  16.514328241348267
                  TS  _10.dat  _1.dat  _6.dat
0         1352500095      NaN   599.0     NaN
1         1352500098      1.0     NaN     1.0
2         1352500101      NaN   582.0     NaN
3         1352500104      1.0     NaN     1.0
4         1352500107      NaN   600.0     NaN
5         1352500110      1.0     NaN     1.0
6         1352500113      NaN   586.0     NaN
7         1352500116      1.0     NaN     1.0
8         1352500120      NaN   596.0     NaN
9         1352500122      1.0     NaN     1.0
10        1352500128      1.0     NaN     1.0
11        1352500132      NaN   581.0     NaN
12        1352500134      1.0     NaN     1.0
13        1352500138      NaN   597.0     NaN
14        1352500140      1.0     NaN     1.0
15        1352500144      NaN   592.0     NaN
16        1352500146      1.0     NaN     1.0
17        1352500150      NaN   587.0     NaN
18        1352500152      1.0     NaN     1.0
19        1352500156      NaN   574.0     NaN
20        1352500158      1.0     NaN     1.0
21        1352500164      1.0     NaN     1.0
22        1352500168      NaN   577.0     NaN
23        1352500170      1.0     NaN     1.0
24        1352500175      NaN   581.0     NaN
25        1352500176      1.0     NaN     1.0
26        1352500181      NaN   587.0     NaN
27        1352500182      1.0     NaN     1.0
28        1352500188      1.0     NaN     1.0
29        1352500194      1.0     NaN     1.0
...              ...      ...     ...     ...
25450365  1420438920      NaN     NaN     1.0
25450366  1420438926      NaN     NaN     1.0
25450367  1420438934      NaN     NaN     1.0
25450368  1420438942      NaN     NaN     1.0
25450369  1420438950      NaN     NaN     1.0
25450370  1420438958      NaN     NaN     1.0
25450371  1420438965      NaN     NaN     1.0
25450372  1420438973      NaN     NaN     1.0
25450373  1420438981      NaN     NaN     1.0
25450374  1420438989      NaN     NaN     1.0
25450375  1420438996      NaN     NaN     1.0
25450376  1420439005      NaN     NaN     1.0
25450377  1420439011      NaN     NaN     1.0
25450378  1420439019      NaN     NaN     1.0
25450379  1420439026      NaN     NaN     1.0
25450380  1420439034      NaN     NaN     1.0
25450381  1420439042      NaN     NaN     1.0
25450382  1420439050      NaN     NaN     1.0
25450383  1420439057      NaN     NaN     1.0
25450384  1420439063      NaN     NaN     1.0
25450385  1420439071      NaN     NaN     1.0
25450386  1420439080      NaN     NaN     1.0
25450387  1420439087      NaN     NaN     1.0
25450388  1420439093      NaN     NaN     1.0
25450389  1420439101      NaN     NaN     1.0
25450390  1420439109      NaN     NaN     1.0
25450391  1420439117      NaN     NaN     1.0
25450392  1420439124      NaN     NaN     1.0
25450393  1420439132      NaN     NaN     1.0
25450394  1420439138      NaN     NaN     1.0

[25450395 rows x 4 columns]