# Importing data and Synchronizing

### testing with sample(part of the original data)

In [145]:
import glob
import pandas as pd

path =r'/home/louis/Desktop/Energy (copy)/' # Path to dataset
allFiles = glob.glob(path + "/*.dat") #Data file name
appliances = ['Kettle', 'Microwave', 'Laptop', 'TV'] #Array of appliances
i = 0 #Counter for appliances array

#Initialize the frame with timestamp (TS) as Index column
frame1 = pd.DataFrame(columns=['TS']) 

#Loop to load dataset into a single frame
for file_ in allFiles:
    df = pd.read_csv(file_,delimiter = ' ', names = ['TS', file_[34:43]])#appliances[i]])
    #df = pd.read_csv(file_,delimiter = ' ', names = ['TS',appliances[i]])
    #frame1 = df.join(df.set_index('TS'), on='TS')
    frame1 = frame1.merge(df, on='TS', how='outer', sort=True) 
    i = i+1
    
#print(frame1['TS'][0])b
#print(len(frame1['TS']))
end = int(frame1['TS'][len(frame1['TS'])-1])
start = int(frame1['TS'][0])
print(frame1)

            TS  channel_1  channel_6  channel_8  channel_5
0   1352500098       10.0        1.0        1.0      100.0
1   1352500104       20.0        2.0        2.0      200.0
2   1352500110       30.0        3.0        3.0        NaN
3   1352500114        NaN        NaN        NaN      300.0
4   1352500116        NaN        4.0        0.0      400.0
5   1352500118       40.0        NaN        NaN        NaN
6   1352500122        0.0        5.0        0.0      500.0
7   1352500128        0.0        6.0        0.0      600.0
8   1352500134        0.0        7.0        0.0        NaN
9   1352500140        NaN        8.0        0.0        NaN
10  1352500142        0.0        NaN        NaN        NaN
11  1352500146       80.0        9.0        9.0        NaN

In [168]:
#Try formalizing freq to 6 but failed
import numpy as np
print(start)
print(end)
l = [i for i in np.arange(start,end+6,6)]
print(l)

1352500098
1352500146
[1352500098, 1352500104, 1352500110, 1352500116, 1352500122, 1352500128, 1352500134, 1352500140, 1352500146]

In [167]:
frame1.set_index([pd.Index(l)])

ValueError: Length mismatch: Expected axis has 12 elements, new values have 9 elements

In [124]:
#frameIn = pd.interval_range(start=(frame1['TS'][0]), end = (frame1['TS'][len(frame1['TS'])-1]), freq=4)
#series = pd.Series(range(9), index=index)
date_index2 = pd.date_range(frame1['TS'][1], freq='S')
frame2 = frame1.reindex(date_index2)
#frame1.reindex(frameIn)
print(frame2)

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

### Front-filling

In [45]:
frame1.fillna(method='ffill')

            TS  Kettle  Microwave  Laptop     TV
0   1352500098    10.0        1.0     1.0  100.0
1   1352500104    20.0        2.0     2.0  200.0
2   1352500110    30.0        3.0     3.0  200.0
3   1352500114    30.0        3.0     3.0  300.0
4   1352500116    30.0        4.0     0.0  400.0
5   1352500118    40.0        4.0     0.0  400.0
6   1352500122     0.0        5.0     0.0  500.0
7   1352500128     0.0        6.0     0.0  600.0
8   1352500134     0.0        7.0     0.0  600.0
9   1352500140     0.0        8.0     0.0  600.0
10  1352500142     0.0        8.0     0.0  600.0
11  1352500146    80.0        9.0     9.0  600.0

### Zero-filling

In [46]:
frame1.fillna(0)

            TS  Kettle  Microwave  Laptop     TV
0   1352500098    10.0        1.0     1.0  100.0
1   1352500104    20.0        2.0     2.0  200.0
2   1352500110    30.0        3.0     3.0    0.0
3   1352500114     0.0        0.0     0.0  300.0
4   1352500116     0.0        4.0     0.0  400.0
5   1352500118    40.0        0.0     0.0    0.0
6   1352500122     0.0        5.0     0.0  500.0
7   1352500128     0.0        6.0     0.0  600.0
8   1352500134     0.0        7.0     0.0    0.0
9   1352500140     0.0        8.0     0.0    0.0
10  1352500142     0.0        0.0     0.0    0.0
11  1352500146    80.0        9.0     9.0    0.0

## Actual Data

In [ ]:
import glob
import pandas as pd

path =r'/home/louis/Desktop/Energy/' # Path to dataset
allFiles = glob.glob(path + "/*.dat") #Data file name
appliances = ['Kettle', 'Microwave', 'Laptop', 'TV'] #Array of appliances
i = 0 #Counter for appliances array

#Initialize the frame with timestamp (TS) as Index column
frame1 = pd.DataFrame(columns=['TS']) 

#Loop to load dataset into a single frame
for file_ in allFiles:
    df = pd.read_csv(file_,delimiter = ' ', names = ['TS', file_[34:43]])
    frame1 = frame1.merge(df, on='TS', how='outer', sort =True) 
    i = i+1
    
print(frame1)